<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Shop.Properties.Settings.ShopConnectionString" connectionString="Data Source=DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=Shop;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
        <add name="Shop.Properties.Settings.ShoppingConnectionString"
            connectionString="DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=Shopping;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
        <add name="Shop.Properties.Settings.Shop_CafeConnectionString"
            connectionString="Data Source=DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=Shop_Cafe;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
        <add name="Shop.Properties.Settings.EmployeeManagerConnectionString"
            connectionString="Data Source=DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=EmployeeManager;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
        <add name="Shop.Properties.Settings.EmployeeManagerConnectionString1"
            connectionString="Data Source=DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=EmployeeManager;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
        <add name="Shop.Properties.Settings.EmployeeManagerConnectionString2"
            connectionString="Data Source=DESKTOP-VBGOPEB\HQTRUONG;Initial Catalog=EmployeeManager;Persist Security Info=True;User ID=sa;Password=1234$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Shop.Properties.Settings>
            <setting name="UsesName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
        </Shop.Properties.Settings>
    </userSettings>
</configuration>